<div class="container card mb-2">
  <h1 class="card-title">Contacts</h1>
  <app-contact-edit (formData)="onActionContact($event)" [contactToEdit]="selectedContact" [clean]="cleanEdition"></app-contact-edit>
  <app-contact-filter (filterData)="filterContacts($event)"></app-contact-filter>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 30%">First Name</th>
        <th style="width: 30%">Second Name</th>
        <th style="width: 30%">Date of Birth</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of contacts" style="cursor: pointer" (click)="onSelectContact(item)">
        <td>{{ item.firstName }}</td>
        <td>{{ item.secondName }}</td>
        <td>{{ item.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
        <td style="white-space: nowrap">
          <button class="btn btn-sm btn-danger btn-delete-user" (click)="deleteContact(item.id)">
            <span *ngIf="item.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span>Delete</span>
          </button>
        </td>
      </tr>
      <tr *ngIf="!contacts">
        <td colspan="5" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>